<div class="filter">
    <form action="#" class="filter-form">
        <div class="popup__close popupClose filter-remove">
            {{Icon iconName="close"}}
        </div>
        <div class="filter__item">
            <div class="filter__title">
                Бренд:
            </div>

            <select name="" id="" class="sort-select">
                <option value="#">Lemark</option>
                <option value="#">Sony</option>
                <option value="#">Lemark</option>
                <option value="#">Lemark</option>
            </select>
        </div>

        <div class="filter__item">
            <div class="filter__title">
                Бренд:
            </div>
            <div class="filter__buttons">

                <label class="m-radio mb15">
                    <input type="radio" name="radio" checked>
                    <div class="m-radio__psevdo">
                        {{Icon iconName="radio"}}
                    </div>
                    <p class="m-radio__text">Radio Button</p>
                </label>
                <label class="m-radio mb15">
                    <input type="radio" name="radio">
                    <div class="m-radio__psevdo">
                        {{Icon iconName="radio"}}
                    </div>
                    <p class="m-radio__text">Radio Button</p>
                </label>
                <label class="m-radio">
                    <input type="radio" name="radio">
                    <div class="m-radio__psevdo">
                        {{Icon iconName="radio"}}
                    </div>
                    <p class="m-radio__text">Radio Button</p>
                </label>

            </div>
        </div>
        
        <div class="filter__item">
            <div class="filter__title">
                Бренд:
            </div>
            <div class="filter__buttons">

                <label class="m-check mb15">
                    <input type="checkbox" name="radio" checked>
                    <div class="m-check__psevdo">
                        {{Icon iconName="checkOn"}}
                    </div>
                    <p class="m-check__text">Radio Button</p>
                </label>
                <label class="m-check mb15">
                    <input type="checkbox" name="radio">
                    <div class="m-check__psevdo">
                        {{Icon iconName="checkOn"}}
                    </div>
                    <p class="m-check__text">Radio Button</p>
                </label>
                <label class="m-check">
                    <input type="checkbox" name="radio">
                    <div class="m-check__psevdo">
                        {{Icon iconName="checkOn"}}
                    </div>
                    <p class="m-check__text">Radio Button</p>
                </label>

            </div>
        </div>

        <div class="filter__item">
            <div class="filter__title">
                Бренд:
            </div>
            <div class="filter__price">
                <div class="filter__output">
                    <div class="filter__output-item output-left"></div>
                    <input type="hidden" name="input_min" class="input-min" value="11000">
                    <div class="filter__output-item output-right"></div>
                    <input type="hidden" name="input_max" class="input-max" value="14000">
                </div>
                
                <div id="slider" data-step="10" data-min="10000" data-max="15000"></div>
            </div>
            
        </div>

        <div class="filter__item">
            <div class="filter__buttons">
                <button class="m-button">Применить</button>
            </div>

            <a href="#" class="filter__link">
                СБРОСИТЬ
            </a>
        </div>

    </form>
</div>