<div class="sidebar">
    <div class="collapsible__container">
        <ul class="collapsible cat">
            <li class="cat__container active">
                <div class="collapsible-header cat__header">
                    Сантехника 
                    {{Icon iconName="left-arrow"}}
                </div>
                <div class="collapsible-body">
                    <a href="#" class="cat__item tolltip">Смесители</a>
                    <a href="#" class="cat__item tolltip">Ванны</a>
                    <a href="#" class="cat__item tolltip">Мебель для ванной</a>
                    <a href="#" class="cat__item tolltip">Мойки</a>
                    <a href="#" class="cat__item tolltip">Душевые кабины</a>
                    <a href="#" class="cat__item tolltip">Душевые уголки и заграждения</a>
                    <a href="#" class="cat__item tolltip">Унитазы и ограждения</a>
                    <a href="#" class="cat__item tolltip">Унитазы</a>
                    <a href="#" class="cat__item tolltip">Раковины</a>
                    <a href="#" class="cat__item tolltip">Биде</a>
                    <a href="#" class="cat__item tolltip">Писсуары</a>
                    <a href="#" class="cat__item tolltip">Инсталяции для унитаза</a>
                    <a href="#" class="cat__item tolltip">Аксессуары для ванной</a>
                    <a href="#" class="cat__item tolltip">Полотенцесушители</a>
                    <a href="#" class="cat__item tolltip">Кухня</a>
                    <a href="#" class="cat__item tolltip">Водонагреватели</a>
                    <a href="#" class="cat__item tolltip">Радиаторы отопления</a> 
                </div>
            </li>
            <li class="cat__container">
                <div class="collapsible-header cat__header">
                    Сантехника
                    {{Icon iconName="left-arrow"}}
                </div>
                <div class="collapsible-body">
                    <a href="#" class="cat__item tolltip">Писсуары</a>
                    <a href="#" class="cat__item tolltip">Инсталяции для унитаза</a>
                    <a href="#" class="cat__item tolltip">Аксессуары для ванной</a>
                    <a href="#" class="cat__item tolltip">Полотенцесушители</a>
                    <a href="#" class="cat__item tolltip">Кухня</a>
                    <a href="#" class="cat__item tolltip">Водонагреватели</a>
                    <a href="#" class="cat__item tolltip">Радиаторы отопления</a> 
                </div>
            </li>
            <li class="cat__container">
                <div class="collapsible-header cat__header">
                    Сантехника
                    {{Icon iconName="left-arrow"}}
                 </div>
                <div class="collapsible-body">
                    <a href="#" class="cat__item tolltip">Писсуары</a>
                    <a href="#" class="cat__item tolltip">Инсталяции для унитаза</a>
                    <a href="#" class="cat__item tolltip">Аксессуары для ванной</a>
                    <a href="#" class="cat__item tolltip">Полотенцесушители</a>
                    <a href="#" class="cat__item tolltip">Кухня</a>
                    <a href="#" class="cat__item tolltip">Водонагреватели</a>
                    <a href="#" class="cat__item tolltip">Радиаторы отопления</a> 
                </div>
            </li>
        </ul>
    </div>
</div>