<div class="sidebar">
    <div class="collapsible__container">
        <ul class="collapsible cat">
            <li class="cat__container">
                <div class="collapsible-header cat__header">Сантехника </div>
                <div class="collapsible-body">
                    <a href="#" class="cat__item">Смесители</a>
                    <a href="#" class="cat__item">Ванны</a>
                    <a href="#" class="cat__item">Мебель для ванной</a>
                    <a href="#" class="cat__item">Мойки</a>
                    <a href="#" class="cat__item">Душевые кабины</a>
                    <a href="#" class="cat__item">Душевые уголки и заграждения</a>
                    <a href="#" class="cat__item">Унитазы и ограждения</a>
                    <a href="#" class="cat__item">Унитазы</a>
                    <a href="#" class="cat__item">Раковины</a>
                    <a href="#" class="cat__item">Биде</a>
                    <a href="#" class="cat__item">Писсуары</a>
                    <a href="#" class="cat__item">Инсталяции для унитаза</a>
                    <a href="#" class="cat__item">Аксессуары для ванной</a>
                    <a href="#" class="cat__item">Полотенцесушители</a>
                    <a href="#" class="cat__item">Кухня</a>
                    <a href="#" class="cat__item">Водонагреватели</a>
                    <a href="#" class="cat__item">Радиаторы отопления</a> 
                </div>
            </li>
            <li class="cat__container">
                <div class="collapsible-header cat__header">Сантехника</div>
                <div class="collapsible-body">
                    <a href="#" class="cat__item">Писсуары</a>
                    <a href="#" class="cat__item">Инсталяции для унитаза</a>
                    <a href="#" class="cat__item">Аксессуары для ванной</a>
                    <a href="#" class="cat__item">Полотенцесушители</a>
                    <a href="#" class="cat__item">Кухня</a>
                    <a href="#" class="cat__item">Водонагреватели</a>
                    <a href="#" class="cat__item">Радиаторы отопления</a> 
                </div>
            </li>
            <li class="cat__container">
                <div class="collapsible-header cat__header">Сантехника </div>
                <div class="collapsible-body">
                    <a href="#" class="cat__item">Писсуары</a>
                    <a href="#" class="cat__item">Инсталяции для унитаза</a>
                    <a href="#" class="cat__item">Аксессуары для ванной</a>
                    <a href="#" class="cat__item">Полотенцесушители</a>
                    <a href="#" class="cat__item">Кухня</a>
                    <a href="#" class="cat__item">Водонагреватели</a>
                    <a href="#" class="cat__item">Радиаторы отопления</a> 
                </div>
            </li>
        </ul>
    </div>
</div>