// main style file by Maxim Sinukov

html, body {
    // overflow-x: hidden;
}
body {
    font-family: 'prox';
    color: #353535;
    margin: 0 !important;
    transition: 0.6s;
    min-height: 100vh;
    display: flex;
    font-size: 14px;
    color: #4A4A4A;
    flex-direction: column;
    transition-delay: 0.05s;
    line-height: normal;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    outline: none;
}

.m-search-text {
    display: inline;
    .m-bold {
        display: inline;    
    }
}
::-webkit-scrollbar {
    width: 3px;
    // height: 3px;
    background-color: #f6f9fc;
}

::-webkit-scrollbar-thumb {
    background-color: $green;
    cursor: pointer;
    position: relative;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $green;
}

::-webkit-scrollbar-thumb:active, .nice-select.open::-webkit-scrollbar-thumb {
    background-color: $green;
}

::-webkit-scrollbar-track {
    width: 3px;
    background-color: #f6f9fc;
}

.top-solution {
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
    max-width: 1330px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}

.footer {
    align-items: flex-end;
    margin-top: auto;
}

.fil {
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
    &__left {
        width: calc(50% - 30px);
        margin-right: 30px; 
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    &__right {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__item {
        width: calc(50% - 2px);
        background-color: #E9F3FB;
        padding: 45px 30px 35px 30px;
        margin-bottom: 2px;
        margin-right: 2px;
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:nth-child(4) {
            animation-delay: 0.6s;
        }
        @media screen and (max-width: 320px) {
            width: 100%;
            padding: 20px;
        }
    }
    &__text {
        font-weight: 500;
        margin-top: 15px;
        font-size: 14px;
        text-transform: uppercase;  
    }
    
}
.mt7 {
    display: block;

    margin-top: 7px;
}
#map {
    height: 100%;
    width: 100%;
}
.ymap {
    width: 100%;
    height: 100%;   
}


.collapsible-open  {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 1025px) {
        display: none;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: $blue;
    }
}

.error-main {
    display: flex;
    width: 100%;
    padding: 100px 0;
    justify-content: space-between;
    &__main {
        font-size: 288px;
        color: #2793ED;
        font-weight: bold;
        line-height: 200px;
        margin-bottom: 25px;
        @media screen and (max-width: 767px) {
            font-size: 130px;
            line-height: 90px;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 20px;
            align-items: center;
            text-align: center;
        }
    }
    &__desc {
        font-size: 16px;
        margin-top: 10px;
    }
    &-right {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    .m-button {
        margin-top: 40px;
    }
}
.maps {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &__item {
        border: 1px solid #E5F0F8;
        display: flex;
        justify-content: space-between;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__left {
        max-width: 480px;
        min-height: 225px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        font-size: 16px;
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    &__container {
        width: 100%;
        min-height: 225px;
    }
    .map {
        width: 100%;
        height: 100%;
        min-height: 225px;
    }
    &__right {
        padding: 30px;
        max-width: 545px;
        width: 100%;
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    td {
        font-size: 16px;
        padding-right: 40px !important;
        vertical-align: top;
        padding: 7px 0;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            .slider-button {
                background-color: $blue;
                svg {
                    fill: white;
                }
            }
        }
        &:active {
            .slider-button {
                background-color: $blueActive;
                svg {
                    fill: white;
                }
            }
        }
    }
    &__text {
        margin: 0 25px;
    }
    .slider-button-prev{
        margin: 0 !important;
    }
}

.input {
    &-button {
        border: none;
        width: 36px;
        height: 36px;
        border: 1px solid #E9F3FB;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        border-radius: 2px;
        &:hover {
            background-color: rgb(250, 250, 250);
        }
        &:active {
            background-color: rgb(245,245,245);
        }
    }
    
    &-val{
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        color: #4A4A4A;
        font-weight: 500;
    }
    &-cont{
        display: flex;    
    }
    &-input {
        pointer-events: none;
        text-align: center;
        border: none;
        width: 30px;
        display: none;
        text-align: center;
    }
}

#scene {
    position: relative;
    width: 100%;
}
.container {
    display: -webkit-box;
    max-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    .sidebar {
        min-width: 260px;
        max-width: 260px;
        align-self: stretch;
        margin-bottom: 50px;
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    .top {
        display: flex;
        align-items: stretch;
        display: -webkit-box;
        margin-bottom: 5px;
        max-width: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}
.content-cont  {
    flex-grow: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.content {
    align-self: stretch;
    padding: 50px 45px;
    padding-right: 0;
    max-height: 100%;
    height: 100%;
    @media screen and (max-width: 1330px) {
        padding-right: 45px;
    }
    @media screen and (max-width: 768px) {
        padding: 50px 10px;
    }   
}
.cat {
    &__container {
        &.active {
            .cat__header svg {
                transform: rotate(180deg);
            }
        }
    }
    &__header{
        color: #037CE3;
        font-weight: 500;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
        svg{
            transition: 0.15s;
        }
    }
    &__item{ 
        display: block;
        white-space: nowrap;
        max-width: 100%;
        padding: 15px;
        padding-left: 30px;
        background-color: #FDFDFD;
        overflow: hidden;
        text-overflow: ellipsis;
        &:nth-child(even) {
            background-color: #F9F9FB;
        }
        transition: 0.2s;
        &:hover{
            background-color: #efefef;
        }
    }
}
.block-1 {
    position: absolute;
    left: 50% !important;
}
.block-2 {
    position: absolute;
    left: 50% !important;
}

.collapsible {
    list-style: none;   
    border: none;
    margin: 0;
    box-shadow: none;
    font-family: "prox";
}
.collapsible-header {
    border: none;
    height: 50px;
    background-color: #E9F3FB;
}
.collapsible__container {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translatex(-100%);
    &.visible {
        transform: translatex(0);
        visibility: visible;
        opacity: 1;

    }
    @media screen and (max-width: 768px) {
        max-width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        max-height: 100vh;
        height: 100vh;
        overflow-y: auto;
        z-index: 10000;
        background-color: rgb(255, 255, 255);
    }
}
.collapsible-body {
    border: none;
    padding: 0; 
}
.search-open {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100%;
    background-color: $green;
    height: 53px;
    width: 53px;
    @media screen and (min-width: 1020px) {
        display: none;
    }
}
.banner {
    width: 100%;
    height: 320px;
    background-color: #E9F3FB;
    margin-top: 40px;
}

.label{
    padding: 5px 10px;
    height: 25px;
    border-radius: 2px;
    font-family: "prox";
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    &.orange {
        background: $orange !important;
    }
    &.green {
        background-color: $green !important;
    }
    &.red {
        background-color: #C62027;
    }
    span {
        margin-left: 5px;
    }
}

.m-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        margin: auto auto;
        max-width: 100%;
        height: auto;
        
    }
}

.m-slider-pag {
    position: absolute;
    bottom: 0 !important;
    right: 0% !important;
    z-index: 1000;
    padding: 40px 45px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 !important;
    transition: 0.3s;
    margin-right:16px !important;
    background-color: #2D9BF7;
}

.m-slider {
    height: 430px;
    width: 100%;
    flex-grow: 1;
    .swiper-wrapper {
        height: 100%;
        max-width: 100%;
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100% !important;

    }
    &__l {
        flex-grow: 1;
        padding: 90px 45px 45px 45px;
        position: relative;
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 49.17%, rgba(255, 255, 255, 0.1) 100%);        
        background-position: 0 0;
        @media screen and (max-width: 768px) {
            padding: 60px 20px 20px 20px;
        }
        &-bg {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            z-index: -1;
            position: absolute;
        }
    }
    &__d {
        max-width: 430px;
    }
    &__t {
        max-width: 520px;
    }
    &__r {  
        max-width: 355px;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            max-width: 100%;
            width: 100%;
        }
    }
    &__a {
        color: $green;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        svg {
            fill: $green;
            margin-left: 10px;
        }
    }
    &__item {
        flex-grow: 1;
        padding: 40px 40px 30px 40px;
        background:  no-repeat 100% 100%;
        background-color: #F6FBFF;
        display: flex;
        flex-direction: column;
        &.blue {
            background-color: #2D9BF7;
        }
        .label {
            flex-grow: 0;
            margin-right: auto;
        }
        
    }
}

.tabs {
    list-style: none;
}
.before_g {
    &:before {
        content: '* ';
        color: $green;
    }
}
.warr {
    padding: 45px;
    background-color: #F9F9FB;
    @media screen and (max-width: 425px) {
        padding: 20px;
    }
}
.ctg-label {
    background: #FFFFFF;
    border: 2px solid #E9F3FB;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: normal;
    font-size: 14px;
    color: #2D9BF7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 25px;
}



.like-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, -85%);
    transform-origin: 50% 50%;
    color: $blue;
    background-color: #fff;
    border-radius: 50px;
    height: 16px;
    min-width: 16px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    transition: 0.3s;
}
.comp-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, -85%);
    transform-origin: 50% 50%;
    color: $blue;
    background-color: #fff;
    border-radius: 50px;
    height: 16px;
    min-width: 16px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    transition: 0.3s;
    opacity: 0;
}

.like-button-liked {
    background-color: $green;
    fill: white;
    border-color: $green;        
}

.like {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(122, 120, 120, 0.3);
    border-radius: 2px;
    width: 40px;
    height: 40px;
    fill: #B4CFE4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    &:hover {
        fill: #9AA3AC;
        box-shadow: 0px 4px 8px rgba(122, 120, 120, 0.3);
    }
    .before {
        position: absolute;
        width: 18px;
        height: 15px;
        top: 50%;
        left: 50%;
        z-index: 1;
        fill: #FD6B3D;
        transition: 0.3s;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        &.likes {
            animation: 1s scale;
        }
    }
    &.liked {
        fill: #FD6B3D;         
    }
    &:active {
        fill: #FD6B3D;
    }
}
.comped {
    background-color: $green;
    border-color: $green;
    fill: white;
}
@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    30% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.8);
    }
}

.prod__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.prods {
    margin-bottom: 55px;
    &__top {
        display: flex;  
        justify-content: space-between;
        align-items: center;
    }
    .m-title-2 {
        display: flex;
        align-items: center;
    }
    &__buttons {
        display: flex;

    }
}
.servs {
    margin-bottom: 55px;
    &__top {
        display: flex;  
        justify-content: space-between;
        align-items: center;
    }
    .m-title-2 {
        display: flex;
        align-items: center;
    }
    &__buttons {
        display: flex;

    }
}

.slider-button {
    background: #FFFFFF;
    border: 1px solid #E5F0F9;
    box-sizing: border-box;
    border-radius: 100px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $blue;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: #2D9BF7;
        border-color: #2D9BF7;
        fill: white;
    }
    &:active {
        background-color: #2D8DDD;
        border-color: #2D8DDD;
        fill: white;
    }
    &__container {
        display: flex;

    }
    &.slider-button-prev {
        margin-right: 10px;
        svg {
            transform: rotate(180deg);
        }
    }
}

img {
    user-select: none;
}

.m-table-tab {
    .m-table td, .m-table th {
        height: 60px;
        padding: 0 45px;
        padding-right: 45px;
    }

}


.serv {
    display: flex;
    flex-direction: column;
    width: calc(33% - 18px);
    margin-bottom: 30px;
    margin-right: 30px;
    transition: 0.4s;
    background-color: #fff;
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    @media screen and (max-width: 768px) {
        width: calc(50% - 20px);
        &:nth-child(3n + 3) {
            margin-right: 30px;
        }
        &:nth-child(2n + 2) {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 425px) {
        width: 100%;
        margin-right: 0 ;
    }
    &.swiper-slide {
        width: 100%;
    }
    &__top {
        height: 245px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            transition: 0.3s;
            margin: auto auto;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        background: #E5F0F9;
    }
    &__content {
        background: #FFFFFF;
        border: 2px solid #E9F3FB;
        box-sizing: border-box;
        padding: 30px;
    }
    &__title{
        line-height: normal;
        font-size: 20px;
        color: #4A4A4A;
        &:hover {
            text-decoration: underline;
        }
    }
    &__desc {
        line-height: normal;
        font-size: 14px;
        color: #918E8E;
        margin-top: 15px;
    }
    &__price{
        font-size: 24px;
        color: #4A4A4A;
        font-weight: 500;
        margin-top: 20px;
    }
    &__button{
        margin-top: 12px;
        max-width: 190px;
    }
}

.delete {
    @extend .like;
    top: 0;
    left: 0;

    right: 20px;
    &:hover {
        background-color: #FFFFFF;
        fill: #9AA3AC;
    }
    &:active {
        fill: #848F9A;
    }
}
.account__col {
    width: 100%;
}



.account-nolike {
    display: flex;
    flex-direction: column;
    display: none;
    &.visible {
        display: flex;
    }
    a {
        color: $green;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        svg {
            fill: $green;
            
        }
    }
}

.prod {
    display: flex;
    flex-direction: column;
    width: calc(33% - 17px);
    margin-bottom: 30px;
    margin-right: 30px;
    @media screen and (max-width: 1024px) {
        width: calc(50% - 15px);
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    &.swiper-slide {
        margin: 0;
        width: 100%;
        
    }
    &:nth-child(3n + 3) {
        margin-right: 0;
        
    }
    @media screen and (max-width: 1024px) {
        &:nth-child(3n + 3) {
            margin-right: 30px  ;
            
        }
        &:nth-child(2n + 2) {
            margin-right: 0;
            
        }
    }
    @media screen and (max-width: 767px) {
        margin-right: 0;
        &:nth-child(3n + 3) {
            margin-right: 0px  ;
            
        }
        &:nth-child(2n + 2) {
            margin-right: 0;
            
        }
    }
    &__features {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }
    .like {
        margin-left: auto;
    }
    .label {
        margin: 0;
        margin-right: auto;
    }
    &__top {
        height: 245px;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        background-color: #e5f0f9;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__content {
        border: 2px solid #E9F3FB;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__buttons {
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    .m-button {
        max-width: 100%;
        width: 100%;
    }
    &__t{
        margin-top: 20px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__pr {
        line-height: normal;
        font-size: 24px;
        color: #4A4A4A;
        font-weight: 500;
        margin-top: 10px;
    }
    .m-button-r {
        min-width: 50px;
        svg {
            margin: 0;
        }
    }
}


.common-text {
    display: flex;
    align-items: flex-start;
    &__img {
        img {
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
        }
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}

.bread {
    display: inline;
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 10px;
    a {
        color: #AAB6BF;
        &:hover {
            text-decoration: underline;
        }
    }
}

.bonus {
    width: 100%;
    .sign{
        max-width: 100%;
        margin: 0;
        &__container {
            width: 100%;
        }
        &__left {
            max-width: 455px;
            @media screen and (max-width: 767px) {
                max-width: 100%;
            }
        }
        &__right {
            width: 100%;
            flex-grow: 1;
        }
        &__form {
            width: 100%;
        }
    }
    &__img-form {
        bottom: 0px !important;
        .sign__imgs-pos {
            left: 260px !important;
        }
    }
    &__img-card {
        bottom: 0;
       .sign__imgs-pos {
           top: 10px !important;
           left: 230px !important;
       }
    }
    .m-field__container{
        max-width: 300px;
        
    }
}

.action-content {
    display: flex !important;
    text-align: left !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    .green-link-arrow {
        margin-top: auto;
    }
}

.green-link-arrow {
    color: $green;
    fill: $green;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    svg {
        margin-left: 10px;
        transition: 0.3s;
    }
    &:hover {
        svg{
            transform: translateX(10px);
        }
    }
}

.img-action {
    position: relative;
    left: -45px;
    top: 0;
    z-index: -1;
    display: flex;
    bottom: 0;
    margin-top: 20px;
    @media screen and (max-width: 767px) {
        display: none;
        width: 100%;    
    }
}
.video {
    display: flex;
    position: relative;
    border-radius: 2px;
    width: 100%;
    height: 455px;
    overflow: hidden;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__button {
        position: relative;
        z-index: 3;
    }
    &:hover {
        .video__img {
            transform: scale(1.03);
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: 0.3s;
        bottom: 0;
        z-index: 1;
            
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; 
        background-color: #070707;
        transition: 0.3s;
        opacity: 0.4;
    }
    &__button {
        transition: 0.3s;
    }
    &__link {
        position: absolute;
        top: 0;
        left: 0;    
        right: 0;
        bottom: 0;
        z-index: 4;
    }
}
.date {
    font-size: 14px;
    color: #918E8E;
    font-weight: 400;
}
.master {
    width: calc(33% - 18px);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid #E9F3FB;
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    @media screen and (max-width: 767px) {
        width: calc(100% - 10px);
        margin-right: 0px;
    }
    
    &__top {
        height: 245px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        background-color: #e9f3fb;
        &:hover {
            .master__img {
                transform: scale(1.1);
            }
            .master__bg {
                opacity: 0.2;
            }
            .master__button {
                transform: scale(0.9);
            }
        }   
    }
    &__desc {
        margin-top: 6px;
    }
    &__date {
        margin: 0 !important;
        margin-top: 25px !important;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        transition: 0.3s;
    }
    &__content {
        padding: 35px 30px 30px 30px;
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: #070707;
        opacity: 0.4;   
        transition: 0.3s;
    }
    &__title {
        &:hover {
            text-decoration: underline;
        }
    }
    &__button {
        position: relative; 
        z-index: 2;
        transition: 0.3s;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}
.sign {
    display: flex;
    max-width: 670px;
    width: 100%;
    border: 1px solid #E5F0F9;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 75px auto 70px;
    position: relative;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        margin: 10px;
    }
    &__container{
        .sign{
            margin: 0;
        }
    }
    &__left {
        padding: 40px 0 0 40px;
        max-width: 290px;
        width: 100%;
        @media screen and (max-width: 767px) {
            max-width: 100%;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    &__features {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__bottom-text {
        text-align: center;
        line-height: normal;
    }   
    &__bottom-text-2 {
        color: #9AA3AC;
        font-size: 14px;
        text-align: center;
        a {
            color: #9AA3AC;        
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }    
        }
    }
    &__imgs {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        &.pos {
            bottom: -70px !important;
        }
        &-pos {
            position: absolute !important;
            top: 40px !important;
            left: 187px !important;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__link {
        line-height: normal;
        font-size: 14px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #34BB09;
        font-weight: 500;
        &:hover {
            text-decoration: none;
        }
    }
    &__button {
        max-width: 220px;
        width: 100%;
        
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: 45px 40px;
        background-color: rgba(148, 198, 238, 0.226);
        position: relative;
        overflow: hidden;   
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        &-bg {
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }
}

.sort {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 23px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E9F3FB;
    margin-bottom: 47px;
    flex-wrap: wrap;
    &__left {
        display: flex;
        flex-wrap: wrap;
    }
    &__select {
        align-items: center;
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}


.pag {
    &__container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 70px;
        margin-top: 5px;
    }
    .slider-button-prev {
        margin: 0;
    }
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        align-items: center;
        padding: 0 35px;
        @media screen and (max-width: 767px) {
            padding: 0 10px;
        }
    }
    &__item {
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        height: 32px;
        border-radius: 100px;
        font-weight: 500;
        color: #4A4A4A;
        transition: 0.2s;
        @media screen and (max-width: 375px) {
            width: 20px;
            height: 20px;
            font-size: 14px;
        }
        &.active{
            color: white;
            background-color: $blue;
        }
    }
}

.filter {
    display: flex;
    padding: 30px; 
    border-radius: 2px;
    border: 1px solid #D8E4EF;
    margin-top: 40px;
    width: 100%;
    &-form {
        width: 100%;

    }
    &__title {
        font-size: 16px;
        color: #4A4A4A;
        margin-bottom: 17px;
        font-weight: 500;
    }
    &__item {
        padding-bottom: 30px;
        border-bottom: 1px solid #E9F3FB;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &:last-child{
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .m-radio__text {
        font-size: 16px;
    }  
    .m-check__text {
        font-size: 16px;
    }  
    &__price{
        display: flex;
        flex-direction: column;
    }
    &__output {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &-item{
            background: #FFFFFF;
            border: 1px solid #D8E4EF;
            box-sizing: border-box;
            border-radius: 2px;
            height: 34px;
            min-width: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            color: #4A4A4A;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $green;
        text-align: center;
        margin-top: 20px;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
} 

#slider {
    cursor: pointer !important;
}
.tabs__container {
position: relative;
}
.cont-tab {
    display: none;
    &.active {
        display: flex;
    }
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: #34BB09;
}
.noUi-connect {
    background-color: #34BB09;
}
.noUi-horizontal .noUi-handle {
    background-color: #34BB09;
}
.noUi-target {
    background: #E9F3FB;
}

.noUi-active {
    border-radius: 40px 40px 40px 40px !important;
}

.noUi-tooltip {
    display: none;
}

.top-features {
    display: flex;
    align-items: center;
    .bread {
        margin-bottom: 0;  
    }
    &__line {
        width: 1px; 
        height:10px;
        background-color: #C3CED7;
        margin: 0 24px;
    }
}
.page-back {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $blue;
    font-weight: 500;
    .slider-button{
        margin-right: 15px;
    }   
}

.servs-top{
    padding: 45px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #E9F3FB;
    @media screen and (max-width: 425px) {
        padding: 15px;
    }
    &__right {
        bottom: 0;
        right: 0;
        position: absolute;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__left {
        width: 56%;
        position: relative; 
        z-index: 1;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .scene {
        bottom: 0;
        right: 0;
        position: absolute;
        transform: none;
        img {
            &.servs-top-img {
                position: absolute !important;
                top: 40px !important;
                left: 0px !important;    
                z-index: 2 !important;
            }
            position: static !important;
        }
    }
}

.component {
    display: flex;
    font-size: 18px;
    span {
        color: $green;
        margin-right: 5px;
        font-weight: 500;
    }
    &__text {
        margin-left: 35px;
        @media screen and (max-width: 440px) {
            margin-left: 0;
            margin-right: 10px;
        }
    }
}

.product {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
    @media screen and (max-width: 1023px) {
        flex-direction: column;
    }
    .m-bg-cont {
        background-position: center center;
    }
    &__img-cont {
        width: 100%;
        display: flex;
        height: 100%;
        min-height: 200px;
        flex-grow: 1;
        background-color: #E9F3FB;
    }
    &__left {
        max-width: 570px;
        width: 100%;
        max-height: 410px;
        margin-right: 45px;
        display: flex;
        flex-direction: column;
        &.product__left-slider {
            max-height: 1000px;
        }
        @media screen and (max-width: 1023px) {
            max-width: 100%;
            margin-bottom: 40px;
            margin-right: 0;
        }
    }
    .swiper-container{
        width: 100%;
        display: flex;
    }
    &-slider{
        height: 410px;
        margin-bottom: 20px !important;
        .swiper-slide {
            background-color: #E9F3FB;
            // &:hover {
            //     img:first-child {
            //         opacity: 0;
            //     }
            // }
        }
        .product-slider-button{
            position: absolute;
            height: 100%;
            width: 70px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                transform: rotate(90deg);
                width: 30px;
                height: 30px;
                transition: 0.2s;
            }
            &:hover {
                svg {
                    transform: rotate(90deg) scale(1.25);
                }
            }
            &.product-slider-button-next {
                right: 0;
                svg {
                    transform: rotate(-90deg);
                }
                &:hover {
                    svg {
                        transform: rotate(-90deg) scale(1.25);
                    }
                }
            }
        }
    }
    &-thumbs{
        height: 106px;
        @media screen and (max-width: 425px) {
            height: 70px;
        }
        .swiper-slide {
            padding: 10px;
            background-color: #E9F3FB;
            opacity: 0.7;
            transition: 0.3s;
            &.swiper-slide-thumb-active{
                opacity: 1;                 
            }
        }
    }
    &__info{
        margin-bottom: 12px;
    }
    &__right{
        max-width: 100%;
        width: 100%;
        .sol__desc  {
            width: 100%;
            padding: 0;
        }
    }
    b {
        color: #4a4a4a; 
        font-weight: 500;
        font-size: 16px;
        display: inline;
        margin-right: 15px;
    }
    p {
        color: #4a4a4a; 
        font-size: 16px;
        display: inline;
    }
    &__desc {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        font-size: 14px;
        color: #918E8E;
        line-height: normal;
        b {
            margin-bottom: 10px;
        }
        p,b {
            display: flex;

        }
        p {
            color: #918E8E;
            font-size: 14px;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }   
    &__price-t {
        margin-right: 30px;
    }
    &__features {
        display: flex;
        .m-button {
            max-width: 190px;
            width: 100%;
        }
        .m-button-r {
            svg {
                margin: 0;
            }
        }
    }
}

.print-page {
    @media print {
        * {
            color: #000 !important;
            margin: 0 !important;
            padding: 0 !important;
            &:before {
                display: none;  
            }
        }
        td {
            padding: 15px 0 !important;
            border: none;
        }
        th,tr {
            border: none;
        }
        td {
            border: 1px solid #000;
        }
        ul {
            list-style: none;
        }
        .cont-tab {
            display: flex;
        }
        svg, 
        input, 
        button, 
        .header,
        .sidebar,
        .product__left,
        .top-features,
        .product__price, 
        .conditions, 
        .product__features, 
        .m-check__psevdo, 
        .footer, 
        .servs, 
        .common-text, 
        .prods, 
        .reviews, 
        .tabs {
            display: none;
        }
    }
}

.exis {
    color: $green;
    font-size: 16px;
    display: flex;
    align-items: center;
    svg {
        margin-right: 8px;
    }
    .noexis-svg {
        display: none;
    }
    &.noexis {
        color: $orange;
        .exis-svg {
            display: none;
        }
        .noexis-svg {
            display: flex;

        }
    }
}

.sol {
    display: flex;
    flex-direction: column;
    &__caption{
        display: flex;
        .m-bold {
            margin-right: 20px;
        }
    }
    &__item {
        display: flex;
        align-items: stretch;
        background-color: #E9F3FB;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__img-content {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        transition: 0.3s;
    }
    &__img {
        min-height: 100%;
        width: 48%;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            width: 100%;
            min-height: 200px;  
        }
        &:hover {
            .sol__img-content {
                transform: scale(1.05);
            }
        }
    }
    &__desc {
        padding: 45px;
        width: 52%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        @media screen and (max-width: 425px) {
            padding: 20px;
        }
    }
    &__t {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .m-title-3-b {
            display: flex;
            &:hover {
                text-decoration: underline;

            }
        }
        .exis {
            margin: 0;
            display: flex;
        }
    }
}

.tabs {
    display: flex !important;
    visibility: visible !important;
    width: 100%;
    flex-wrap: wrap;
    height: auto !important;
    &-button {
        display: flex;  
        padding: 0 5px;
        min-height: 40px;
        background: #FFFFFF;
        border: 2px solid #E5F0F9;
        box-sizing: border-box;
        border-radius: 2px;
        transition: 0.3s;
        min-width: calc(20% - 15px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #4a4a4a;
        font-size: 16px;
        line-height: normal;
        margin-right: 15px;
        margin-bottom: 20px;
        cursor: pointer;
        @media screen and (max-width: 425px) {
            min-width: calc(50% - 15px);
        }
        &:hover {
            background: $blue;
            border-color: $blue;
            color: white;
        }
        &:active {
            background: $blueActive;
            border-color: $blueActive;
            color: white;
        }
        &.active {
            background: $blue;
            border-color: $blue;
            color: white;
        }
    }
}

.reduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;   
    margin-bottom: 66px;
    &__set-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: rgb(253, 253, 253);
        padding: 36px 33px 30px 33px;
        position: relative;
        @media screen and (max-width: 1023px) {
            padding: 20px;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &:hover {
            background-color: rgb(251, 251, 251);
        }
        &:after {
            content: '';
            position: absolute;
            left: 33px;
            width: calc(100% - 66px);
            height: 1px;
            background-color: #E5F0F8;
            bottom: 0;
            @media screen and (max-width: 1023px) {
                width: calc(100% - 20px);
            }
        }
    }
    &__check{
        margin-right: 33px;
        .m-check__psevdo{
            width: 13px;
            height: 13px;
            svg {
                width: 13px;
                height: 13px;
            }
        }
    }
    &__img {
        min-width: 120px;
        height: 120px;
        margin-right: 30px;
        background-color: #F9F9FB;
        position: relative;
        overflow: hidden;
        img {
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            position: absolute;
            max-width: 100%;
            height: auto;
        }
    }
    &__desc {
        font-size: 24px;
    }
    &__info {
        font-size: 24px;
    }

}


.reviews {
    background-color:#F9F9FB;
    padding: 45px;
    padding-bottom: 30px;
    @media screen and (max-width: 767px) {
        padding: 10px;
        padding-bottom: 30px;
    }
    &__form {
        padding-bottom: 40px;
    }
    .m-button {
        max-width: 190px;
    }
    &__content {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-rating {
        display: flex;
        margin-bottom: 20px;
        label {
            height: 100%;
        }
    }
    &__label {
        font-weight: 500;
        font-size: 16px;
        margin-right: 12px;
    }
    &__item {
        padding: 40px 0;
        border-top: 1px solid #D5DDE3;

    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__date{
        margin-right: auto;
        margin-left: 25px;
        font-size: 14px;
        color: #BABABA;

    }
    &__title{
        font-weight: 500;
        font-size: 18px;
    }
    &__loadmore {
        padding-top: 30px;
        border-top: 1px solid #D5DDE3;
        display: flex;
        justify-content: center;
        a {
            color: $green;
            text-decoration: underline;
            font-weight: 500;
            &:hover {
                text-decoration: none;
            }

        }
    }
}

.long-select {
    max-width: 200px;
    width: 100% !important;
}




.title-top {
    flex-wrap: wrap;
    .m-title-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .tabs-button {
        margin-bottom: 0;
        text-align: center;
        display: flex;
        
    }
    .nice-select {
        margin-top: 0;
    }
}
.checkout {
    &__choice{
        display: flex;
        align-items: center;
        .tabs{
            display: flex;
            align-items: center;
            &-button {
                padding: 13px 30px;
                min-width: 0;
            }
        }
    }
    
}

.basket{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    &-account {
        max-width: 100%;
        overflow-x: auto;
        table {
            min-width: 100%;
        }
    }
    &__table-container {
        max-width: 100%;
        overflow-x: auto;
    }
    &__state{
        &:before {
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;
        }
        &.delivered {
            &:before {
                content: "Доставлено";
                color: $green;
            }
        }
        &.way {
            &:before {
                content: "В пути";
                color: $blue;
            }
        }
        &.nosent {
            &:before {
                content: "Не доставлено";
                color: $orange;
            }
        }
    }
    &__addres {
        white-space: nowrap;
    }
    &__padding {
        white-space: nowrap;    
        padding-right: 45px !important;
    }
    &__addres {
        width: 300px;
    }
    table {
        th {
            text-align: left;
            padding: 20px 0;
        }
    }
    td {
        padding: 20px 0;
    }
    tr {
        border-bottom: 1px solid #E9F3FB;
    }
    &__article {
        max-width: 100px;
        width: 100%;
        min-width: 100px;
    }
    &__price {
        max-width: 130px;
        width: 135px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        span{
             display: flex;
        }
    }
    .label{
        width: auto;
        min-width: 0;
        flex-grow: 0;
        margin-bottom: 5px;
    }
    .basket__result {
        width: 140px;
        min-width: 143px;
        flex-grow: 0;
    }
    .basket-delete{
        svg {
            fill: #C3CED7;
            transition: 0.2s;
        }
        &:hover {
            svg {
                transform: scale(1.2);
                fill: #afbdca;
            }
        }
    }
    &__img {
        position: relative;
        min-width: 90px;
        width: 90px;
        min-height: 90px;
        height: 90px;
        margin-right: 20px;
        background: #E9F3FB;
        border-radius: 2px;
    }
    &__info {
        min-width: 150px;
    }
    &__desc {
        display: flex;
        padding-right: 35px;
    }
    &__result {
        min-width: 165px;
    }
    &__bottom-result {
        display: flex;
        justify-content: flex-end;
        .m-bold{
            margin-right: 50px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-top: 20px;
    }
    &__button {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;  
        flex-wrap: wrap;
        @media screen and (max-width: 425px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a {
                margin-left: 0 !important   ;
            }
        }
        a {
            min-width: 0;
            width: auto;
            padding: 15px 32px;
            width: 100%;
            white-space: nowrap;
        }
        .m-button {
            margin-left: 25px;
        }
    }
}
.tabs-button {
    @media screen and (max-width: 440px) {
        width: calc(50% - 20px);
        margin-right: 17px;
        box-sizing: border-box;
    }
    @media screen and (max-width: 375px) {
        width: 100%;
        margin-right: 0 !important;
    }
}
.form-radio {
    display: block;
    input {
        display: none;
        &:checked ~ .tabs-button {
            background-color: $blue;
            color: white;
            border-color: $blue;
        }
        & ~ .tabs-button{
            display: flex;
        }
    }   
}   
.radio-yur {
    display: none !important;  
    &.visible {
        display: flex !important;
    }
}
.form-account {
    &__file {
        display: flex;
        flex-wrap: wrap;
        color: #909EA9;
    }
    &__input {
        display: flex;
        margin-right: 40px;
        align-items: center;
        color: #909EA9;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: 20px;
        span {
             cursor: pointer;
             font-size: 16px;
        }
        &:hover {
            text-decoration: none !important;
        }
        svg {
            transition: 0.3s;
            margin-right: 10px;
        }
    }
}
.docs {
    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        span {
            text-decoration: underline;
            font-size: 16px;
        }

    }
    &__delete {
        display: flex;
        align-items: center;
        margin-right: 8px;
        svg {
            transition: 0.3s;
        }
        &:hover {
            text-decoration: none !important;
            svg {
                transform: scale(1.3);
            }
        }
    }
}
.form-container {
    padding: 45px;
    background-color: #E9F3FB;
    .tabs-button {
        margin-right: 0 !important;
    }
    .tabs {
        label {
            @media screen and (max-width: 440px) {
                width: 100%;
                .tab-input-psevo {
                    margin-right: 0;
                }
            }
        }
    }
    @media screen and (max-width: 440px) {
        padding: 15px;
    }
    &__group {
        display: flex;
        flex-wrap: wrap;
        .m-field__container{
            width: calc(33% - 13px);
            margin-right: 20px;
            margin-bottom: 16px;
            &:nth-child(3n+3) {
                margin-right: 0;
            }
            .m-field {
                box-shadow: none;
            }
            @media screen and (max-width: 768px) {
                width: calc(50% - 15px);
                &:nth-child(2n+2) {
                    margin-right: 0px;
                }
                &:nth-child(3n+3) {
                    margin-right: 20px;
                }
            }
            @media screen and (max-width: 440px) {
                width: 100%;
                margin-right: 0;
                &:nth-child(2n+2) {
                    margin-right: 0px;
                }
                &:nth-child(3n+3) {
                    margin-right: 0px;
                }
            }
        }
    }
}

.article {
    overflow: hidden;
    border-radius: 2px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc(33% - 18px);
    border: 1px solid #E9F3FB;
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-right: 0;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    &__content {
        padding: 30px;
        
    }
    &__title {
        margin-bottom: 6px;
        transition: 0.3s;
        display: flex;
        &:hover {
            color: $blue;
            text-decoration: underline;
        }

    }
    &__top {
        height: 245px;
        position: relative;
        overflow: hidden;
        &:hover {
            .article__img {
                transform: scale(1.1);
            }
        }
    }
    &__img {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;
        position: absolute;
    }
    &__date {
        margin-top: 25px;
    }
}

.m-field-container-2 {
    margin-right: 20px;
    margin-bottom: 16px;
    width: calc(33% - 11px);
    @extend .m-field__container;
    &:nth-child(3n+3) {
        margin-right: 0;
    }
}

.input-file {
    input {
        display: none;
    }
}

.form-account-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    .m-button {
        max-width: 190px;
    }
}
.deliv {
    display: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-form {
        margin-top: 70px;
    }
    .m-title-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .checkout__choice {
            @media screen and (max-width: 440px) {
                margin-top: 20px;
            }
        }
    }
    .checkout__choice{
        .tabs-button {
            margin-bottom: 0;
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
    }
    &__company {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
        .m-bold {
            margin-right: 20px;

        }
        label {
            margin-right: 30px;
            max-width: 157px;
            height: 79px;
            width: 100%;

        }
        &-img {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 2px;
            transition: 0.3s;
            &:hover {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            }
        }
        &-imgs{
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            label {
                margin-bottom: 30px;
                input {
                    display: none;
                    &:checked {
                        & ~ .deliv__company-img {
                            background-color: #2793ED;
                        }
                    }
                }
            }
        }
    }
    &-radio-block {
        display: flex;
        .m-bold {
            margin-right: 20px;
        }
        .m-radio {
            margin-bottom: 15px;
        }
    }
    &-form {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        .m-button {
            max-width: 190px;
        }
    }
    .m-radio__text {
        font-size: 16px;
    }
    &__radio {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 40px;
        @media screen and (max-width: 440px) {
            flex-direction: column;
        }
        .m-bold {
            margin-right: 20px;
        }
        .m-radio, .m-check {
            margin-right: 40px;
            @media screen and (max-width: 440px) {
                margin-top: 10px;
            }
        }
    }
    
}

.faq {
    margin-top: 20px;
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 12px 35px;
        align-items: center;
        margin-bottom: 10px;
        font-size: 18px;
        height: auto;
        background-color: #E9F3FB;
        &:hover {
            .faq__button {
                background-color: $blue;
                fill: white;
            }
        }
        &.active {
            .faq__button {
                svg {
                    transform: rotate(270deg);

                }
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__content {
        padding: 35px;
        padding-bottom: 0;
    }
    &__body {
        background-color: #E9F3FB;
        user-select: none;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        margin-top: 15px;
        border-top: 1px solid #DBE4EB;
        flex-wrap: wrap;        
        .m-bold {
            margin-bottom: 10px;
        }
    }
    &__buttons-container {
        display: flex;
        .m-button,.m-button-r {
            width: 80px;
        }
        .m-button-r {
            background: transparent;
        }
        .m-button {
            margin-right: 10px;
        }
    }
    &__button {
        min-width: 50px;
        max-width: 50px;
        height: 50px;   
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        fill: $blue;
        svg {
            transition: 0.3s;
            transform: rotate(90deg);
        }
    }
}

.float-button   {
    display: none !important;
}

.compare-table {
    td, th {
        max-height:  60px !important;
        overflow-y: auto;
        overflow-x: hidden;
        @media screen and (max-width: 1400px) {
            padding: 10px 15px !important;
        }
    }
}