// main style file by Maxim Sinukov

html, body {
    overflow-x: hidden;
}
body {
    font-family: 'prox';
    color: #353535;
    margin: 0 !important;
    transition: 0.6s;
    min-height: 100vh;
    display: flex;
    font-size: 14px;
    color: #4A4A4A;
    flex-direction: column;
    transition-delay: 0.05s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    outline: none;
}

.wrapper{
    max-width: 1330px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}

.footer {
    align-items: flex-end;
    margin-top: auto;
}
.number-input-button {
    border: none;
    border: 2px solid #000;
    width: 20px;
    height: 20px;
    background-color: #fff;
    font-weight: bold;
    color: green;
}

.number-result{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number-input-container{
    display: flex;    
}

.number-input {
    box-shadow: inset 0 0 0 rgba(64,150,255,0.1);
    margin: 1rem 0;
    pointer-events: none;
    text-align: center;
    border: none;
    width: 30px;
    display: none;
    text-align: center;
}

#scene {
    position: relative;
    width: 100%;
}
.container {
    display: flex;
    max-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    .sidebar {
        min-width: 260px;
        max-width: 260px;
        align-self: stretch;
    }
    .top {
        display: flex;
        align-items: stretch;
        display: -webkit-box;
        margin-bottom: 5px;
    }
}
.content-cont  {
    max-width: 1070px;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.content {
    align-self: stretch;
    padding: 50px 45px;
    padding-right: 0;
    max-height: 100%;
    height: 100%;
}
.cat {
    &__container {
        &.active {
            .cat__header svg {
                transform: rotate(180deg);
            }
        }
    }
    &__header{
        color: #037CE3;
        font-weight: 500;
        padding-left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
        svg{
            transition: 0.15s;
        }
    }
    &__item{ 
        display: block;
        white-space: nowrap;
        max-width: 100%;
        padding: 15px;
        padding-left: 30px;
        background-color: #FDFDFD;
        overflow: hidden;
        text-overflow: ellipsis;
        &:nth-child(even) {
            background-color: #F9F9FB;
        }
        transition: 0.2s;
        &:hover{
            background-color: #efefef;
        }
    }
}
.block-1 {
    position: absolute;
    left: 50% !important;
}
.block-2 {
    position: absolute;
    left: 50% !important;
}

.collapsible {
    list-style: none;   
    border: none;
    margin: 0;
    box-shadow: none;
    font-family: "prox";
}
.collapsible-header {
    border: none;
    height: 50px;
    background-color: #E9F3FB;
}
.collapsible-body {
    border: none;
    padding: 0; 
}

.banner {
    width: 100%;
    height: 320px;
    background-color: #E9F3FB;
    margin-top: 40px;
}

.label{
    padding: 5px 10px;
    min-width: 106px;
    height: 25px;
    border-radius: 2px;
    font-family: "prox";
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    &.orange {
        background: $orange !important;
    }
    &.green {
        background-color: $green !important;
    }
    span {
        margin-left: 5px;
    }
}

.m-img-cont {
    background-repeat: no-repeat;
    background-position: center center;
    img {
        display: none;
    }
}

.m-slider-pag {
    position: absolute;
    bottom: 0 !important;
    right: 0% !important;
    z-index: 1000;
    padding: 40px 45px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 !important;
    transition: 0.3s;
    margin-right:16px !important;
    background-color: #2D9BF7;
}

.m-slider {
    height: 430px;
    width: 100%;
    flex-grow: 1;
    .swiper-wrapper {
        height: 100%;
        max-width: 100%;
    }
    &__slide {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__l {
        flex-grow: 1;
        padding: 90px 45px 45px 45px;
        position: relative;
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 49.17%, rgba(255, 255, 255, 0.1) 100%);        
        background-position: 0 0;
        &-bg {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            z-index: -1;
            position: absolute;
        }
    }
    &__d {
        max-width: 430px;
    }
    &__t {
        max-width: 520px;
    }
    &__r {  
        max-width: 355px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__a {
        color: $green;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        svg {
            margin-left: 10px;
        }
    }
    &__item {
        flex-grow: 1;
        padding: 40px 40px 30px 40px;
        background:  no-repeat 100% 100%;
        background-color: #F6FBFF;
        &.blue {
            background-color: #2D9BF7;
        }
    }
}
.before_g {
    &:before {
        content: '* ';
        color: $green;
    }
}

.ctg-label {
    background: #FFFFFF;
    border: 2px solid #E9F3FB;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: normal;
    font-size: 14px;
    color: #2D9BF7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 25px;
}



.like-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, -85%);
    transform-origin: 50% 50%;
    color: $blue;
    background-color: #fff;
    border-radius: 50px;
    height: 16px;
    min-width: 16px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    transition: 0.3s;
}

.like {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(122, 120, 120, 0.3);
    border-radius: 2px;
    width: 40px;
    height: 40px;
    fill: #B4CFE4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    &:hover {
        fill: #9AA3AC;
        box-shadow: 0px 4px 8px rgba(122, 120, 120, 0.3);
    }
    .before {
        position: absolute;
        width: 18px;
        height: 15px;
        top: 50%;
        left: 50%;
        z-index: 1;
        fill: #FD6B3D;
        transition: 0.3s;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        &.likes {
            animation: 1s scale;
        }
    }
    &.liked {
        fill: #FD6B3D;         
    }
    &:active {
        fill: #FD6B3D;
    }
}

@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    30% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.8);
    }
}

.prod__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.prods {
    margin-bottom: 55px;
    &__top {
        display: flex;  
        justify-content: space-between;
        align-items: center;
    }
    .m-title-2 {
        display: flex;
        align-items: center;
    }
    &__buttons {
        display: flex;

    }
}

.slider-button {
    background: #FFFFFF;
    border: 1px solid #E5F0F9;
    box-sizing: border-box;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $blue;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: #2D9BF7;
        border-color: #2D9BF7;
        fill: white;
    }
    &:active {
        background-color: #2D8DDD;
        border-color: #2D8DDD;
        fill: white;
    }
    &__container {
        display: flex;

    }
    &.slider-button-prev {
        margin-right: 10px;
        svg {
            transform: rotate(180deg);
        }
    }
}

.prod {
    display: flex;
    flex-direction: column;
    width: calc(33% - 17px);
    margin-bottom: 30px;
    margin-right: 30px;
    transition: 0.4s;
    &.swiper-slide {
        margin: 0;
        width: 100%;
        
    }
    &:nth-child(3n + 3) {
        margin-right: 0;
    }
    &__features {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0;
    }
    .like {
        margin-left: auto;
    }
    .label {
        margin: 0;
        margin-right: auto;
    }
    &__top {
        height: 245px;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        background-color: #e5f0f9;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__content {
        border: 2px solid #E9F3FB;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__buttons {
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    .m-button {
        max-width: 100%;
        width: 100%;
    }
    &__t{
        margin-top: 20px;
    }
    &__pr {
        line-height: normal;
        font-size: 24px;
        color: #4A4A4A;
        font-weight: 500;
        margin-top: 10px;
    }
    .m-button-r {
        min-width: 50px;
        svg {
            margin: 0;
        }
    }
}

.common-text {
    display: flex;
    align-items: flex-start;
    &__img {
        img {
            filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
        }
    }
}

.bread {
    display: inline;
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 10px;
    a {
        color: #AAB6BF;
        &:hover {
            text-decoration: underline;
        }
    }
}


.sign {
    display: flex;
    max-width: 670px;
    width: 100%;
    border: 1px solid #E5F0F9;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 75px auto 70px;
    position: relative;
    overflow: hidden;
    &__left {
        padding: 40px 0 0 40px;
        max-width: 290px;
        width: 100%;
    }
    &__features {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__bottom-text {
        text-align: center;
        
    }   
    &__bottom-text-2 {
        color: #9AA3AC;
        font-size: 14px;
        text-align: center;
        a {
            color: #9AA3AC;        
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }    
        }
    }
    &__imgs {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        &.pos {
            bottom: -70px;
        }
        &-pos {
            position: absolute !important;
            top: 40px !important;
            left: 187px !important;
        }
    }
    &__link {
        line-height: normal;
        font-size: 14px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #34BB09;
        font-weight: 500;
        &:hover {
            text-decoration: none;
        }
    }
    &__button {
        max-width: 220px;
        width: 100%;
        
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: 45px 40px;
        background-color: rgba(148, 198, 238, 0.226);
        position: relative;
        overflow: hidden;   
        &-bg {
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }
}

.sort {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 43px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E9F3FB;
    margin-bottom: 47px;
    &__left {
        display: flex;
    }
    &__select {
        align-items: center;
        display: flex;
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
    }
}


.pag {
    &__container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 70px;
        margin-top: 5px;
    }
    .slider-button-prev {
        margin: 0;
    }
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        align-items: center;
        padding: 0 35px;
    }
    &__item {
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        height: 32px;
        border-radius: 100px;
        font-weight: 500;
        color: #4A4A4A;
        transition: 0.2s;
        &.active{
            color: white;
            background-color: $blue;
        }
    }
}

.filter {
    display: flex;
    padding: 30px; 
    border-radius: 2px;
    border: 1px solid #D8E4EF;
    margin-top: 40px;
    width: 100%;
    &-form {
        width: 100%;

    }
    &__title {
        font-size: 16px;
        color: #4A4A4A;
        margin-bottom: 17px;
        font-weight: 500;
    }
    &__item {
        padding-bottom: 30px;
        border-bottom: 1px solid #E9F3FB;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &:last-child{
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .m-radio__text {
        font-size: 16px;
    }  
    .m-check__text {
        font-size: 16px;
    }  
    &__price{
        display: flex;
        flex-direction: column;
    }
    &__output {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &-item{
            background: #FFFFFF;
            border: 1px solid #D8E4EF;
            box-sizing: border-box;
            border-radius: 2px;
            height: 34px;
            min-width: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            color: #4A4A4A;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $green;
        text-align: center;
        margin-top: 20px;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
} 

#slider {
    cursor: pointer !important;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: #34BB09;
}
.noUi-connect {
    background-color: #34BB09;
}
.noUi-horizontal .noUi-handle {
    background-color: #34BB09;
}
.noUi-target {
    background: #E9F3FB;
}

.noUi-active {
    border-radius: 40px 40px 40px 40px !important;
}

.noUi-tooltip {
    display: none;
}

.top-features {
    display: flex;
    align-items: center;
    .bread {
        margin-bottom: 0;  
    }
    &__line {
        width: 1px; 
        height:10px;
        background-color: #C3CED7;
        margin: 0 24px;
    }
}
.page-back {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $blue;
    font-weight: 500;
    .slider-button{
        margin-right: 15px;
    }   
}
