// GUI styles by Maxim Sinukov
// For example, styles of the links, buttons and so on.

.m-title-1,h1 {
    font-family: "prox";
    line-height: normal;
    font-size: 36px;
    font-weight: 500;
    color: #4A4A4A;
    @media screen and (max-width: 1024px) {
        font-size: 30px;
    }
    &-w {
        color: white;
    }
}

.m-bold {
    font-weight: 500;
    font-size: 16px;

}
.m-bold-2 {
    font-weight: 500;
    font-size: 18px;

}
.m-text-2 {
    font-size: 14px;
    color: #918E8E;
}
.rangeslider {
    height: 2px;
    margin: 15px 0;
    box-shadow: none;
    background-color: #E9F3FB;
    border-radius: 0;
    &__fill {
        background-color: #34BB09;
        box-shadow: none;
        border-radius: 0;
    }
    &__handle {
        background-color: #34BB09;
        border: none;
        box-shadow: none;
        width: 12px;
        height: 12px;
        border-radius: 20px;
        top: -5px !important;
        &:after {
            display: none;
        }
    }
}
.text-old{
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: #8D8A8A;
}
.m-title-2,h2 {
    font-family: "prox";
    line-height: normal;
    font-size: 30px;
    font-weight: 500;
    color: #4A4A4A;
    @media screen and (max-width: 1024px) {
        font-size: 24px;
    }
    &-w {
        color: white;
    }
}
.m-title-3,h3 {
    font-family: "prox";
    line-height: normal;
    font-size: 24px;
    font-weight: 400;
    color: #4A4A4A;
    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }
    &-w {
        color: white;
    }
}
.m-title-3-b,h3 {
    font-family: "prox";
    line-height: normal;
    font-size: 24px;
    font-weight: 500;
    color: #4A4A4A;
    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }
    &-w {
        color: white;
    }
}
.m-title-4,h4 {
    font-family: "prox";
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A;
    &-w {
        color: white;
    }
}
.m-title-5,h5 {
    font-family: "prox";
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
    color: #4A4A4A;
    &-w {
        color: white;
    }
}

.m-desc {
    font-size: 16px;
    font-weight: 500;
    color: #434343;
    &-w {
        color: white;
    }
}
a {
    font-family: "prox";
    color: $grey;
    text-decoration: none;
}
.nice-select.m-select-2 {
    padding: 0;
    height: auto;
    border: none;
    color: $grey;
    font-family: "prox";
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #D8E4EF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 25px;
    padding-right: 35px;
    display: flex;
    height: 34px;
    margin-top: 10px;
    align-items: center;
    &:after {
        border-color: $grey;
        right: 10px;
        top: 46%;
        background: url(../img/content/left-arrow.svg) no-repeat center center ;
        border: none;
        width: 11px;
        height: 11px;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    &.open {
        &:after {
            transform: rotate(180deg);
        }
    }
    .list{
        border-radius: 2px;
        box-shadow: 0px 12px 30px rgba(74, 106, 134, 0.2);
        min-width: 123px;
        .option.selected{
            font-weight: 400;
        }
    }

}
.m-text {
    font-family: "prox";
    color: $grey;
    font-size: 16px;    
}
.m-text-2 {
    font-family: "prox";
    color: $grey;
    font-size: 14px;    
}
.nice-select.m-select-1 {
    padding: 0;
    height: auto;
    border: none;
    color: $blue;
    font-family: "prox";
    padding-right: 20px;
    &:after {
        border-color: $blue;
        right: 0;
        top: 46%;
        background: url(../img/content/left-arrow.svg) no-repeat center center ;
        border: none;
        width: 11px;
        height: 11px;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    &.open {
        &:after {
            transform: rotate(180deg);
        }
    }
    .list{
        border-radius: 2px;
        box-shadow: 0px 12px 30px rgba(74, 106, 134, 0.2);
        min-width: 123px;
        .option.selected{
            font-weight: 400;
        }
    }

}
.nice-select.sort-select {
    padding: 0;
    height: auto;
    min-width: 157px;
    padding: 0 25px;
    height: 34px;
    display: flex;
    align-items: center;
    border: none;
    font-family: "prox";
    color: #4A4A4A;
    background: #FFFFFF;
    border: 1px solid #D8E4EF;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    color: #4A4A4A;
    padding-right: 45px;
    &:after {
        border-color: $blue;
        right: 25px;
        top: 46%;
        background: url(../img/content/left-arrow.svg) no-repeat center center ;
        border: none;
        width: 11px;
        height: 11px;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    &.open {
        border-color: #D8E4EF;
        &:after {
            transform: rotate(180deg);
        }
    }
    &:hover {
        border-color: rgb(185, 197, 209);
    }
    .list{
        border-radius: 2px;
        min-width: 100%;
        box-shadow: 0px 12px 30px rgba(74, 106, 134, 0.2);
        min-width: 123px;
        .option.selected{
            font-weight: 400;
            display: none;
        }
        .option{
            padding-left: 25px;
            &:hover {
                &:nth-child(2n + 1) {
                    background-color: #F9F9FB;
                }
            }
        }
    }
}

.reduction{
    box-sizing: border-box;
    .m-table {
        td {
            width: 50%;
        }
    }
}

.m-table-tab {
    display: flex;
    max-width: 100%;
    width: 100%;
    .m-table{
        overflow: visible;
        width: 33.333333%;
        @media screen and (max-width: 425px) {
            width: 50%;
        }
        table {
            // width: 100%;
            min-width: auto;
        }
    }
}
.table-slider {
    max-width: 100%;
    width: 100%;
    opacity: 1;
    .swiper-slide {
        width: 50%;
        .m-table {
            width: 100%;
        }
        &.opacity {
            transition: 0.3s;
            opacity: 0;
        }
        &.margin {
            transition: 0.3s;
            margin-left: -342px;
            z-index: -1;
        }
    }
    &__container {
        max-width: 66.6666666666666%;
        width: 100%;
        overflow: hidden;
    }
}
.td-tool {
    display: flex;
    justify-content: space-between;
}
.td-delete{
    height: 100%;
    position: relative;
    width: 30px;
    height: 30px;
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        svg {
            fill: #C3CED7;
            transition: 0.2s;
        }
        &:hover {
            svg {
                transform: scale(1.2);
            }
        }
    }
}

.m-table {
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    width: 100%;
    table {
        width: calc(100% - 1px);
        min-width: 600px;
        box-sizing: border-box;
    }
    tr {
        background-color: #F9F9FB;
        box-sizing: border-box;
        &:nth-child(even) {
            background-color: #FDFDFD;
        }
        &:nth-child(1) {
            th {
                color: #2D9BF7;
                background-color: #E5F0F9;
            }
        }
    }
    td,th {
        padding: 16px 45px;
        line-height: normal;
        font-size: 16px;
    }
    th {
        text-align: left;
    }
    td {
        border-right: 1px solid #F1F1F2;
        color: #4a4a4a;
        box-sizing: border-box;
        &.td-bold {
            font-weight: 500;
        }
    }
}

.nice-select:focus {
    border-color: #D8E4EF !important;
}

.m-bg-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    img {
        display: none;
        
    }
}

.nice-select.search-select {
    @extend .m-select-2;
    border-radius: 0px;
    height: 100%;
    margin: 0;
    height: 53px;
    border: none;
    background-color: #E9F3FB;
    width: 120px;
    color: $blue;
    font-weight: 500;
    padding-right: 40px;
    &:after {
        right: 20px;
    }
    position: relative;
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 32px;
        width: 1px;
        background-color: #B4CFE4;
    }
}
.m-button {
    background: $green;
    border-radius: 2px;
    padding: 15px 10px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;   
    fill: #289006;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    max-width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    max-width: 190px;
    cursor: pointer;
    &.w190 {
        max-width: 190px;
    }
    svg {
        margin-right: 12px;
    }
    &:hover {
        background-color: $greenHover;
    }
    &:active {
        background-color: $greenActive;
    }
}
.m-button-r {
    background: transparent;
    border-radius: 2px;
    max-width: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    color: $green;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $green;   
    text-align: center;
    vertical-align: middle;
    fill: #289006;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid $green;
    flex-grow: 0;
    svg {
        margin-right: 12px;
    }
    &:hover {
        background-color: $green;
        color: white;
        border-color: $green;
        fill: white;
    }
    &:active {
        background-color: $greenHover;
        color: white;
        border-color: $greenHover;
    }
}
.m-button-r-2 {
    @extend .m-button;
    background-color: #fff;
    color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $green;
    &:hover {
        color: white;
        background-color: $green;
    }
    &:active {
        border-color: $greenHover;
        background-color: $greenHover;
    }
}
.m-link-arrow {
    svg {
        transition: 0.3s;
    }
    &:hover {
        svg {
            transform: translatex(7px);    
        }
    }
}

.m-link {
    font-size: 14px;
    text-decoration-line: underline;
    color: #34BB09;
    display: block;
    &:hover {
        text-decoration: none;
    }
}

.m-textarea {
    max-width: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    min-height: 98px;
    max-height: 300px;
    border: none;
    display: flex;
    padding: 16px 30px;
    font-size: 16px;
    color: #909EA9;
    background-color: #fff;
}

.m-field__container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 50px;
    svg {
        position: absolute;
        fill: $blue;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        z-index: 2;
    }
    &:before {
        content: '';
        max-width: 100%;
        background-color: #E5E5E5;
        width: calc(100% - 100px);
        left: 65px;
        bottom: 6px;
        height: 2px;
        z-index: 3;
        position: absolute;
        opacity: 0;
        transition: 0.3s;
    }
}
.m-field {
    border-radius: 2px;
    border: none;
    padding: 16px 14px 14px 65px;
    height: 50px;   
    font-family: 'prox';
    max-width: 100%;
    width: 100%;
    transition: 0.3s;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(195, 206, 215, 0.5);
    font-size: 16px;
    color: #909EA9;
    position: relative;
    z-index: 1;
    border-radius: 0;
    max-height: 50px;
    @media screen and (max-width: 600px) {
    }
    &.error {
        border-color: $orange !important;
        color: $orange;
        & ~ svg {
            fill: $orange;
        }
        & ~ .placeholder{
            color: $orange;
        }
    }
    &.valid {
        border-color: #68a852 !important;
    }
    &::placeholder {
        opacity: 0;
        transition: 0s;
    }
    & ~ .placeholder {
        transition: 0.3s;
        transform-origin: 0 0;
        font-family: 'prox';
    }
    &:focus {
        padding: 22px 14px 8px 65px;
        
    }
    &:disabled{
        opacity: 0.6;
        user-select: none;
    }
    &:focus ~ .placeholder {
        transform: translateY(-20px) scale(0.68);
    }
    &.is-focus{
        padding: 22px 14px 8px 65px;
        & ~ .placeholder {
            transform: translateY(-20px) scale(0.68);
        }
    }
    &.m-textarea {
        padding: 0;
        padding-left: 27px;
        padding-top: 13px;
        border-radius: 26px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        vertical-align: top;
        height: 110px !important;
    }
}

.m-field-2 {
    @extend .m-field;
    padding-left: 25px;
    & ~ .placeholder {
        left: 25px;
    }
    &.is-focus {
        padding-left: 25px;
    }
    &:focus {
        padding-left: 25px;
        & ~ .placeholder {
            left: 25px;
        }
    }
}

.placeholder{
    position: absolute;
    top: 50%;
    left: 0;
    left: 65px;
    font-size: 16px;
    user-select: none;
    cursor: text;
    color: #909EA9;
    transform: translateY(-50%);
    z-index: 3;
    white-space: nowrap;
}

input {
    & ~ .placeholder {
        transition: 0.3s;
    }
    &:focus ~ .placeholder {
        transform: translateY(-5px) scale(0.68);
    }
}

.m-check {
    input {
        display: none;
        &:checked {
            & ~ div svg {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    display: flex !important;
    align-items: center;
    cursor: pointer;
    &__text {
        display: flex;
        margin-left: 8px;
        font-size: 14px;
        color: #7F8993;
        user-select: none;

    }
    
    &__psevdo {
        position: relative;
        width: 18px;
        height: 18px;
        display: block;
        border-radius: 2px;
        border: 2px solid #85CE6E;
        svg {
            opacity: 0;
            transition: 0.2s;
            position: absolute;
            transform: translate(-50%, -50%) scale(0.4);
            top: 50%;
            left: 50%;
        }
    }
}

.m-radio {
    input {
        display: none;
        &:checked {
            & ~ div svg {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    display: flex !important;
    align-items: center;
    cursor: pointer;
    &__text {
        display: flex;
        margin-left: 8px;
        font-size: 14px;
        color: #7F8993;
        user-select: none;

    }
    
    &__psevdo {
        position: relative;
        width: 18px;
        height: 18px;
        display: block;
        border-radius: 20px;
        border: 2px solid #85CE6E;
        svg {
            opacity: 0;
            transition: 0.2s;
            position: absolute;
            transform: translate(-50%, -50%) scale(0.4);
            top: 50%;
            left: 50%;
        }
    }
}

.m-flex {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.mr0 {
    margin-right: 0 !important; 
    display: block;
}
.mb0 {
    margin-bottom: 0 !important;
}

.mt10 {
    margin-top: 10px !important; 
    display: block;
}

.mt20 {
    margin-top: 20px !important; 
    display: block;
}

.mt30 {
    margin-top: 30px !important; 
    display: block;
}

.mt15 {
    display: block;
    margin-top: 15px !important; 
    display: block;
}

.mt25{
    margin-top: 25px !important; 
    display: block;
}

.mb10{
    margin-bottom: 10px !important; 
    display: block;
}
.mb15{
    margin-bottom: 15px !important; 
    display: block;
}

.mb20 {
    margin-bottom: 20px !important; 
    display: block;
}
.mb25 {
    margin-bottom: 25px !important; 
    display: block;
}

.mb30 {
    margin-bottom: 30px !important; 
    display: block;
}
.mb60 {
    margin-bottom: 60px !important; 
    display: block;
}

.ml10{
    margin-left: 10px !important;
}
.mr5 {
    margin-right: 5px !important;
}
.ml20{
    margin-left: 20px !important;
}

.ml30{
    margin-left: 30px !important;
}

.mr10{
    margin-right: 10px !important;
}
.mr15{
    margin-right: 15px !important;
}

.mr20{
    margin-right: 20px !important;
}

.mr30{
    margin-right: 30px !important;
}
.mr35{
    margin-right: 35px !important;
}

.icon-green {
    fill: $green;
}
.icon-white {
    fill: #ffffff;
}
.icon-blue {
    fill: $blue
}

.html__container{
    .html {
        column-count: 2;
        column-gap: 35px;
        @media screen and (max-width: 767px) {
            column-count: 1;
            column-gap: 0;
        }
    }
    p {
        color: #4a4a4a;
        margin-bottom: 15px;
        font-size: 16px;
    }
    h1 {
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 10px;
    }
    h1, h2,h3,h4,h5,h6 {
        margin: 0;
        margin-bottom: 12px;
        margin-top: 7px;
    }
    .m-img{
        img {
            max-width: 100%;
            height: auto;
        }
    }
    a {
        font-size: 16px;
        display: inline;
        color: #2D9BF7;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        font-size: 16px;
        list-style: none;
        li {
            padding-left: 20px;
            position: relative;
            line-height: normal;
            margin-bottom: 20px;
            &:before{
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                width: 7px;
                height: 7px;
                background-color: $blue;
                border-radius: 10px;
            }
        }
    }
}