// GUI styles by Maxim Sinukov
// For example, styles of the links, buttons and so on.

.m-title-1,h1 {
    font-family: "prox";
    line-height: normal;
    font-size: 36px;
    font-weight: 500;
    color: #4A4A4A;
}
.m-title-2,h2 {
    font-family: "prox";
    line-height: normal;
    font-size: 30px;
    font-weight: 500;
    color: #4A4A4A;
}
.m-title-3,h3 {
    font-family: "prox";
    line-height: normal;
    font-size: 24px;
    font-weight: 400;
    color: #4A4A4A;
}
.m-title-4,h4 {
    font-family: "prox";
    line-height: normal;
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A;
}
.m-title-5,h5 {
    font-family: "prox";
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
    color: #4A4A4A;
}

.m-desc {
    font-size: 16px;
    font-weight: 500;
    color: #434343;
}
a {
    font-family: "prox";
    color: $grey;
    text-decoration: none;
}
.nice-select.m-select-2 {
    padding: 0;
    height: auto;
    border: none;
    color: $grey;
    font-family: "prox";
    padding-right: 20px;
    background: #FFFFFF;
    border: 1px solid #D8E4EF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 25px;
    padding-right: 35px;
    display: flex;
    height: 34px;
    margin-top: 10px;
    align-items: center;
    &:after {
        border-color: $grey;
        right: 10px;
        top: 46%;
        background: url(../img/content/left-arrow.svg) no-repeat center center ;
        border: none;
        width: 11px;
        height: 11px;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    &.open {
        &:after {
            transform: rotate(180deg);
        }
    }
    .list{
        border-radius: 2px;
        box-shadow: 0px 12px 30px rgba(74, 106, 134, 0.2);
        min-width: 123px;
        .option.selected{
            font-weight: 400;
        }
    }

}
.m-text {
    font-family: "prox";
    color: $grey;
    font-size: 16px;    
}
.m-text-2 {
    font-family: "prox";
    color: $grey;
    font-size: 14px;    
}
.nice-select.m-select-1 {
    padding: 0;
    height: auto;
    border: none;
    color: $blue;
    font-family: "prox";
    padding-right: 20px;
    &:after {
        border-color: $blue;
        right: 0;
        top: 46%;
        background: url(../img/content/left-arrow.svg) no-repeat center center ;
        border: none;
        width: 11px;
        height: 11px;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    &.open {
        &:after {
            transform: rotate(180deg);
        }
    }
    .list{
        border-radius: 2px;
        box-shadow: 0px 12px 30px rgba(74, 106, 134, 0.2);
        min-width: 123px;
        .option.selected{
            font-weight: 400;
        }
    }

}

.nice-select.search-select {
    @extend .m-select-2;
    border-radius: 0px;
    height: 100%;
    margin: 0;
    height: 53px;
    border: none;
    background-color: #E9F3FB;
    width: 120px;
    color: $blue;
    font-weight: 500;
    padding-right: 40px;
    &:after {
        right: 20px;
    }
    position: relative;
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 32px;
        width: 1px;
        background-color: #B4CFE4;
    }
}
.m-button {
    background: $green;
    border-radius: 2px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;   
    fill: #289006;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    
    svg {
        margin-right: 12px;
    }
    &:hover {
        background-color: $greenHover;
    }
    &:active {
        background-color: $greenActive;
    }
}
.m-button-r {
    background: white;
    border-radius: 2px;
    max-width: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    color: $green;
    align-items: center;
    justify-content: center;
    color: $green;   
    text-align: center;
    vertical-align: middle;
    fill: #289006;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #289006;
    flex-grow: 0;
    svg {
        margin-right: 12px;
    }
    &:hover {
        background-color: $green;
        color: white;
        border-color: $green;
        fill: white;
    }
    &:active {
        background-color: $greenHover;
        color: white;
        border-color: $greenHover;
    }
}
.m-link-arrow {
    svg {
        transition: 0.3s;
    }
    &:hover {
        svg {
            transform: translatex(7px);    
        }
    }
}

.m-field {
    border-radius: 100px;
    border: none;
    background-color: white;
    padding: 13px 27px;
    color: #a2a1a1;
    font-family: 'got';
    font-weight: bold;
    text-transform: uppercase;  
    font-size: 14px;
    max-width: 440px;
    width: 100%;
    transition: 0.3s;
    border: 2px solid white;
    @media screen and (max-width: 600px) {
        padding: 6px 20px;
        height: 40px !important;
    }
    &.error {
        border-color: #db3b3b !important;
    }
    &.valid {
        border-color: #68a852 !important;
    }
    &-angle {
        @extend .m-field;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    &::placeholder {
        transition: 0.3s;
        text-transform: uppercase;
    }
    &:focus {
        color: #434343;
    }
    &::placeholder {
        font-family: 'ral';
        font-size: 12px;
    }
    &:disabled{
        opacity: 0.6;
        user-select: none;
    }
    &:focus::placeholder {
        transform: translateY(-15px);
        opacity: 0;
    }
    &.m-textarea {
        padding: 0;
        padding-left: 27px;
        padding-top: 13px;
        border-radius: 26px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        vertical-align: top;
        height: 110px !important;
    }
}

input {
    &::placeholder {
        transition: 0.3s;
    }
    &:focus::placeholder {
        transform: translateY(-15px);
        opacity: 0;
    }
}

.mr0 {
    margin-right: 0 !important; 
    display: block;
}

.mt10 {
    margin-top: 10px !important; 
    display: block;
}

.mt20 {
    margin-top: 20px !important; 
    display: block;
}

.mt30 {
    margin-top: 30px !important; 
    display: block;
}

.mt15 {
    display: block;
    margin-top: 15px !important; 
    display: block;
}

.mt25{
    margin-top: 25px !important; 
    display: block;
}

.mb10{
    margin-bottom: 10px !important; 
    display: block;
}
.mb15{
    margin-bottom: 15px !important; 
    display: block;
}

.mb20 {
    margin-bottom: 20px !important; 
    display: block;
}
.mb25 {
    margin-bottom: 25px !important; 
    display: block;
}

.mb30 {
    margin-bottom: 30px !important; 
    display: block;
}

.ml10{
    margin-left: 10px !important;
}

.ml20{
    margin-left: 20px !important;
}

.ml30{
    margin-left: 30px !important;
}

.mr10{
    margin-right: 10px !important;
}

.mr20{
    margin-right: 20px !important;
}

.mr30{
    margin-right: 30px !important;
}

.icon-green {
    fill: $green;
}
.icon-white {
    fill: #ffffff;
}
.icon-blue {
    fill: $blue
}