<div class="article">
    <div class="article__top">  
        <a href="blog-1.html" class="article__img m-bg-cont">
            <img src="%=static=%img/content/master-1.jpg" alt="">
        </a>
    </div>
    <div class="article__content">
        <a href="blog-1.html" class="article__title m-title-5">Выбираем мебель в ванную</a>
        <div class="article__desc m-text-2">Равным образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании новых предложений</div>
        <div class="article__date date">21.07.2019</div>
    </div>
</div>
