<div class="prod">
    <div class="prod__top">
        <a href="catalog_single.html" class="prod__img m-img-cont">
            <img src="http://via.placeholder.com/100x500.jpg" alt="">
        </a>
        <div class="prod__features">
            <div class="like like-trigger">
                {{Icon iconName="like"}}
                <div class="before">
                    {{Icon iconName="like"}}
                </div>
            </div>
        </div>
    </div>

    <div class="prod__content">
        <div class="ctg-label">Смеситель</div>
        <a href="catalog_single.html" class="prod__t m-title-5">Lemark Comfort Osgard Vink 37073</a>
        <div class="prod__pr">8 705 руб.</div>
        <div class="prod__buttons">
            <a href="#" class="m-button mr20 callPopup" data-popupBlock="popup-basket">
                {{Icon iconName="basket"}}
                В корзину
            </a>
            <a href="#" class="m-button-r comp-trigger callPopup" data-popupBlock="popup-comp">
                {{Icon iconName="comprison"}}
            </a>

        </div>
    </div>
</div>