<div class="serv">
    <a href="servs-1.html" class="serv__top">
        <img src="%=static=%img/content/serv.png" alt="">
    </a>
    <div class="serv__content">
        <a href="servs-1.html" class="serv__title">Установка полотенцесушки
        размером 800х600 на 
        готовуюподводку</a>
        <div class="serv__desc">
            Равным образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании новых предложений
        </div>
        <div class="serv__price">
            от 8 705 руб.
        </div>
        <a href="#" class="serv__button m-button callPopup dataserv " data-serv="202020" data-popupBlock="serv-popup">ЗАКАЗАТЬ</a>
    </div>
</div>