<div class="footer">
    <div class="footer__top">
        <div class="wrapper">

            <div class="footer__container">
                <div class="footer__logo">
                    <img src="%=static=%img/content/white-logo.png" alt="">
                </div>

                <div class="footer__content">
                   <div class="footer__menu">
                       <div class="footer__menu-col">
                           <div class="footer__menu-head">Сантехника</div>
                           <div class="footer__menu-items">
                               <a href="#" class="footer__menu-item"></a>
                               <a href="#" class="footer__menu-item"></a>
                               <a href="#" class="footer__menu-item"></a>
                               <a href="#" class="footer__menu-item"></a>
                               <a href="#" class="footer__menu-item"></a>
                               <a href="#" class="footer__menu-item"></a>
                           </div>
                       </div>
                   </div>
                </div>

            </div>
        </div>
    </div>
</div>