<div class="footer">
    <div class="footer__top">
        <div class="wrapper">

            <div class="footer__container">
                <a href="#" class="footer__logo">
                    <img src="%=static=%img/content/logo-white.png" alt="">
                    <div class="footer__logo-text">
                            Интернет-магазин
                            сантехники 
                           и света в Москве
                    </div>
                </a>

                <div class="footer__top-menu">
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Мастер классы
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Блог 
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Условия оплаты 
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Политика конфиденциальности 
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Новости
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Доставка
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Условия возврата
                        </a>
                    </div>
                    
                    <div class="footer__top-menu-item">
                        <a href="#">
                            Договор оферты 
                        </a>
                    </div>
                </div>

            </div>
            
        </div>
        
    </div>
    <div class="footer__content">
        <div class="wrapper">
            <div class="footer__container">
                <div class="footer__menu">
                    <div class="footer__menu-cols">
                        <a href="#" class="footer__menu-head">Сантехника</a>
                        <div class="footer__menu-sub">
                            <div class="footer__menu-items">
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Смесители</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Ванны</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мебель для ванной</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мойки</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые кабины</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые уголки и заграждения</a>
                                </div>
                            </div>
                            <div class="footer__menu-items">
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Смесители</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Ванны</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мебель для ванной</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мойки</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые кабины</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые уголки и заграждения</a>
                                </div>
                            </div>
                            <div class="footer__menu-items">
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Смесители</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Ванны</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мебель для ванной</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мойки</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые кабины</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые уголки и заграждения</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__menu-col">
                        <div class="footer__menu-head">Освещение</div>
                        <div class="footer__menu-sub">
                            <div class="footer__menu-items">
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Смесители</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Ванны</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мебель для ванной</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Мойки</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые кабины</a>
                                </div>
                                <div class="footer__menu-item">
                                    <a href="#" class="tooltip">Душевые уголки и заграждения</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="footer__menu-col footer__features">
                        <a href="tel:89227078757" class="header__phone">
                            <div class="header__phone-img">
                                <img src="/static/img/content/phone.png" alt="">
                            </div>
                            <div class="header__phone-number">
                                8 922 707 87 57
                                <span>Заказать звонок</span>
                            </div>
                        </a>
                        <div class="footer__soc">
                            <div class="footer__soc-t">
                                Мы в соц.сетях:
                            </div>
                            <div class="social">
                                <a href="#" class="social-item">
                                    {{Icon iconName="vk"}}
                                </a>
                                <a href="#" class="social-item">
                                    {{Icon iconName="f"}}
                                </a>
                                <a href="#" class="social-item">
                                    {{Icon iconName="inst"}}
                                </a>
                                <a href="#" class="social-item">
                                    {{Icon iconName="ok"}}
                                </a>
                            </div>
                        </div>
                        <div class="footer__pay">
                            <div class="footer__pay-img">{{Icon iconName="pay-1"}}</div>
                            <div class="footer__pay-img">{{Icon iconName="pay-2"}}</div>
                            <div class="footer__pay-img">{{Icon iconName="pay-3"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="wrapper">
            <div class="footer__container">
                <div class="footer__copy">© Дома ремонт, Все права защищены 2018</div>
                <a href="http://markello.ru" target="_blank" class="footer__dev">{{Icon iconName="markello"}}   
                    <span>Сделан в <span>Markello</span></span>
                </div>
            </div>
        </div>
    </div>
</div>