<div class="reviews">
    <form action="#" class="reviews__form">
        <textarea name="reviews" class="m-textarea" id=""rows="10" placeholder="Ваш отзыв"></textarea>
        <div class="reviews__content">
            <div class="reviews-rating">
    
                <div class="reviews__label">
                    Оценка:
                </div>
                
                <div class="rating starability-basic">
                
                    <input type="radio" id="rate1" name="rating" value="1" />
                    <label for="rate1" title="Terrible">1 star</label>
        
                    <input type="radio" id="rate2" name="rating" value="2" checked/>
                    <label for="rate2" title="Not good">2 stars</label>
                    
                    <input type="radio" id="rate3" name="rating" value="3"/>
                    <label for="rate3" title="Average">3 stars</label>
                    
                    <input type="radio" id="rate4" name="rating" value="4" />
                    <label for="rate4" title="Very good">4 stars</label>
                    
                    <input type="radio" id="rate5" name="rating" value="5"/>
                    <label for="rate5" title="Amazing">5 stars</label>
                    
                </div>
            </div>

            <button class="reviews__button m-button">ОТПРАВИТЬ</button>
            
        </div>
    </form>

    <div class="reviews__items">
        <div class="reviews__item">
            <div class="reviews__top">
                <div class="reviews__title">
                    ghbdtn
                </div>
                <div class="reviews__date">
                    22.01.2019      
                </div>
                <div class="reviews__rating">
                    <div class="rating starability-basic">
                        <input type="radio" id="rate6" name="rating" value="1" disabled checked/>
                        <label for="rate6">1 star</label>
            
                        <input type="radio" id="rate7" name="rating" value="2"  disabled/>
                        <label for="rate7">2 stars</label>
                        
                        <input type="radio" id="rate8" name="rating" value="3" disabled/>
                        <label for="rate8">3 stars</label>
                        
                        <input type="radio" id="rate9" name="rating" value="4" disabled />
                        <label for="rate9">4 stars</label>
                        
                        <input type="radio" id="rate10" name="rating" value="5" disabled/>
                        <label for="rate10">5 stars</label>
                        
                    </div>
                </div>
            </div>

            <div class="reviews__desc m-text mt15">
                Потеря изделием своих эксплуатационных качеств в следствие любых механических повреждений, наличие инородных тел, окалины, ржавчины и ругих элементов.
            </div>
            
        </div>
    </div>

    <div class="reviews__loadmore">
        <a href="#">ПОКАЗАТЬ ЕЩЕ</a>
    </div>
    
</div>