<header class="header">
    <div class="header-line">
        <div class="wrapper">
            <div class="header__container">
                <div class="header__left">
                    <div class="header__menu">
    
                        <a href="#" class="header__menu-item">
                            Наша философия
                        </a>
    
                        <a href="#" class="header__menu-item">
                            Отзывы
                        </a>
    
                        <a href="#" class="header__menu-item">
                            Наши магазины
                        </a>
        
                    </div>
                </div>
                <div class="header__right">
                    <div class="header__city">
                        <select class="m-select-1" name="" id="">
                            <option value="1">Москва</option>
                            <option value="1">Питер</option>
                            <option value="1">Павлодар</option>
                        </select>
                    </div>

                    <div class="social">
                        <a href="#" class="social-item">
                            {{Icon iconName="vk"}}
                        </a>
                        <a href="#" class="social-item">
                            {{Icon iconName="f"}}
                        </a>
                        <a href="#" class="social-item">
                            {{Icon iconName="inst"}}
                        </a>
                        <a href="#" class="social-item">
                            {{Icon iconName="ok"}}
                        </a>
                    </div>

                    <div class="header__acc">
                        {{Icon iconName="user"}}
                        <span>
                                Личный кабинет
                        </span>
                        {{Icon iconName="left-arrow"}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="wrapper">
            <div class="header__container">
                <a href="index.html" class="header__logo">
                    <img src="%=static=%img/content/logo.png" alt="">
                    <div class="header__logo-text m-text">
                        Интернет-магазин
                        сантехники <br>
                        и света в Челябинске
                    </div>
                </a>

                <div class="header__bottom-menu">
                    <a href="#" class="header__bottom-menu-item active">
                        Готовые решения
                    </a>
                    <a href="#" class="header__bottom-menu-item">
                            Услуги
                    </a>
                    <a href="#" class="header__bottom-menu-item">
                            Акции
                    </a>
                    <a href="#" class="header__bottom-menu-item">
                            Частые вопросы
                    </a>
                </div>
                <a href="tel:89227078757" class="header__phone">
                    <div class="header__phone-img">
                        <img src="%=static=%img/content/phone.png" alt="">
                    </div>
                    <div class="header__phone-number">
                        <div>
                            8 922 707 87 57
                        </div>
                        <span>Заказать звонок</span>
                    </div>
                </a>
                
            </div>
        </div>
    </div>

    <div class="header__features">
        <div class="wrapper">
            <div class="header__container">
                <div class="header__catalog">
                    {{Icon iconName="catalog"}}
                    Каталог товаров
                </div>
                <form class="header__search m-search">
                    <select class="search-select after" name="" id="">
                        <option value="">Товар</option>
                        <option value="">Услуги</option>
                    </select>
                    <input type="text" class="header__search-field" name="search" placeholder="Что вы ищете?">
                    <button class="header__search-button">
                        {{Icon iconName="search"}}
                        найти
                    </button>
                </form>
                <div class="header__count">
                    <div class="header__like header__count-item">
                        {{Icon iconName="like"}}
                        <div class="like-count">0</div>
                    </div>
                    <div class="header__comp header__count-item">
                        {{Icon iconName="comprison"}}
                    </div>
                </div>
                <a href="#" class="header__basket">
                    {{Icon iconName="basket"}}
                    0 руб.
                </a>
            </div>
        </div>
    </div>
</header>