<div class="input-cont">
    <button type="button" class="input-button input-de">
        {{Icon iconName="minus"}}
    </button>

    <div class="input-val"></div>
    
    <input type="number" class="input-input" step="1" value="1" min="1" max="100">

    <button type="button" class="input-button input-i">
        {{Icon iconName="plus"}}
    </button>
</div>

<label class="m-check">
    <input type="checkbox" name="checker" checked>
    <div class="m-check__psevdo">
        {{Icon iconName="checkOn"}}

    </div>
    <p class="m-check__text">Запомнить меня</p>
</label>
<label class="m-radio">
    <input type="radio" name="radio" checked>
    <div class="m-radio__psevdo">
        {{Icon iconName="radio"}}

    </div>
    <p class="m-radio__text">Запомнить меня</p>
</label>

<input type="range" class="range-slider" min="10" max="1000" step="10" value="300" data-orientation="horizontal">