<div class="pag">
    <div class="slider-button__container">
        <a href="#" class="slider-button slider-button-prev">
            {{Icon iconName="arrow"}}
        </a>

        <div class="pag__content">
            <a href="#" class="pag__item active">1</a>
            <a href="#" class="pag__item">2</a>
            <a href="#" class="pag__item">3</a>
            <a href="#" class="pag__item">4</a>
            <div class="pag__item pag__dots">...</div>
            <a href="#" class="pag__item">25</a>
        </div>
        
        <a href="#" class="slider-button slider-button-next">
            {{Icon iconName="arrow"}}
        </a>
    </div>
</div>